<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Test Runner Mode -->
    <add key="StopOnFail" value="true" />
    <add key="RerunCase" value="1" />
    <add key="RetryStep" value="1" />
    <add key="RetryAction" value="1" />
    <!-- Log & Report Configurations -->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="LogPath" value="..\..\Log" />
    <add key="ReportPath" value="..\..\Report" />
    <add key="ScreenshotPath" value="..\..\Screenshot" />
    <add key="ReportToScreenshot" value="..\Screenshot" />
    <add key="TestExecutionXmlPath" value="TestExecution.xml"/>
    <!-- Web Configurations -->
    <add key="DefaultUrl" value="https:/google.com.vn" />
    <add key="DefaultUser" value="user@gmail.com" />
    <add key="DefaultPassword" value="password" />
    <add key="DefaultBrowser" value="Chrome" />
    <add key="IsWindowMaximize" value="true" />
    <add key="ChromeHeadlessMode" value="false" />
    <add key="DatabaseName" value="" />
    <!-- Selenium Configurations -->
    <add key="DefaultDriverWaitTimeout" value="30000" />
    <add key="DefaultImplicitWaitTimeout" value="3000" />
    <add key="DefaultPageLoadTimeout" value="30000" />
    <!-- Driver & Browser Binary -->
    <add key="FirefoxDriverPath" value="Driver\" />
    <add key="FirefoxBrowserPath" value="" />
    <add key="IeDriverPath" value="Driver\" />
    <add key="IeBrowserPath" value="" />
    <add key="ChromeDriverPath" value="Driver\" />
    <add key="ChromeBrowserPath" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=servername;Initial Catalog=database;Integrated Security=False;User Id=username;Password=password;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>