<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Runner Configurations -->
    <add key="SkipOnFail" value="true" />
    <add key="RerunCase" value="1" />
    <add key="RetryStep" value="1" />
    <add key="RetrySubStep" value="1" />
    <!-- Log & Report Configurations -->
    <add key="LogPath" value="horus.fw.test\Log" />
    <add key="ReportLocalPath" value="horus.fw.test\Report" />
    <add key="ScreenshotsPath" value="horus.fw.test\Report\Screenshots" />
    <add key="ReportApiUrl" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=ServerName;Initial Catalog=Database;Integrated Security=False;User Id=username;Password=password;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>